[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
dynaconf = "*"
fire = "*"

[dev-packages]
black = "*"
isort = "*"
rope = "*"
flake8 = "*"
vulture = "*"
pylint = "*"
bandit = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
